<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pasteleria1000sabores">

    <application
        android:label="Pastelería 1000 Sabores"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/Theme.Pasteleria1000Sabores">
        <!-- Activity principal que arranca la aplicación -->
        <activity android:name=".LoginActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- Declaración de las demás pantallas -->
        <activity android:name=".RegisterActivity" />
        <activity android:name=".CatalogActivity" />
        <activity android:name=".ProductDetailActivity" />
        <activity android:name=".CartActivity" />
        <activity android:name=".SuccessActivity" />
        <activity android:name=".FailureActivity" />
        <activity android:name=".BackOfficeActivity" />
        <activity android:name=".AddProductActivity" />
    </application>
</manifest>